<section class="hero ">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="banner-inner">
                    <h2>The Finest Ingredients For Taste Better</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aut maxime expedita vel. Laudantium
                        voluptate quibusdam pariatur obcaecati eaque eligendi quidem totam, architecto excepturi
                        deserunt
                        repellendus distinctio laborum consequuntur consequatur.</p>
                    <a href="#" class="btn-seemore">Order Now</a>
                </div>
            </div>

            <div class="col-sm-4"></div>

            <div class="col-sm-4 text-right">
                <div class="banner-inner">
                    <h2>Modern Recipes Greatly Taste food</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam nihil id explicabo blanditiis
                        totam sit voluptatem, enim asperiores aspernatur nemo est eos deserunt perspiciatis sint
                        distinctio, quis maiores repudiandae vel.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="wrap">
        <div class="bg">
            <img src="/img/bg.png" alt="">
        </div>
    </div>

    <div class="box-main-wrapper">
        <div id="1b" class="bgcolor-1">
            <div class="box">
                <img src="/img/pizza1.png" alt="" class="left">
            </div>
        </div>

        <div id="2b" class="bgcolor-2">
            <div class="box">
                <img src="/img/pizza-right.png" alt="" class="right">
            </div>
        </div>
    </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br>
<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">All Pizzas</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-12 gap-y-16">
        <% pizzas.forEach(function(pizza) { %>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/<%= pizza.image %>" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">
                        <%= pizza.name %>
                    </h2>
                    <span class=" size py-1 px-4 rounded-full uppercase text-xs">
                        <%= pizza.size %>
                    </span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹<%= pizza.price %></span>
                        <button data-pizza="<%= JSON.stringify(pizza) %>"
                            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <%})%>

    </div>
</section>